h3 {
  color: blue;
  background-color: red;
  font-size: x-small;
}

h4 {
  color: yellow;
  background-color: blue;
}

h5 {
  color: red;
  background-color: yellow;
}

div {
  background-color: aqua;
}

p {
  color: brown;
}
