html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  background: gray;
  place-content: center;
  place-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.box-row {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.box {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
}
