.square {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
}

.rectangle {
  height: 150px;
  width: 300px;
  background-color: bisque;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: blueviolet;
}

.eclipse {
  width: 250px;
  height: 150px;
  border-radius: 50%;
  background-color: blanchedalmond;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid blue;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  /* border-top: 100px solid blue; */
}
